
/* * {
    border: 0%;
    padding: 0.09%;
    margin: 0%;
} */

/* Header */

header {
    background-color: #AA5B71;
    color: #000000;
    font-family: 'Beau Rivage', cursive;
    padding: 0px;
    grid-area: header;
}

/* Body */

body {
    text-align: center;
    /* image-resolution: contain; */
    background-color: #C37575;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
     "nav nav nav"
     "header header header"
     "main main main"
     "footer footer footer";
    }

h1 {
    padding: 1em;
}

p {
    padding: 1em;
    font-family: 'Indie Flower', cursive;
    font-size: large;
}

/* img {
    width: fit-content;
    height: fit-content;
} */


 /* Navigation */

nav {
    background-color: #864F6F;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-family: 'Fredoka', sans-serif; /* From Google Fonts */
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 1em;
    grid-area: nav;
}  


/* Menu */

.menu ul li {
    background-color: 864F6F;
    color: black;
    display: inline-block;
    width: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    text-align: center;
}

.menu a {
    color: black;
    text-decoration: none;
}

/* Main */

main {
    /* background-color: none; */
    color: black;
    grid-area: main;
    padding: 20px;
}

section {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
}


/* Contact */

#contact input[type="text"],
#contact textarea {
  width: 98.5%;
  border: 1px solid #7E5C79;
  background: #7E5C79;
  margin: 0 0 5px;
  padding: 10px;
}

.Form {
    border-radius: 1em;
    display: grid;
    width: 400px;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 0.5em;
}

.submit {
    grid-column: 1/3;
}

/* Footer */

footer {
    display: grid;
    grid-template-columns: 30%, 30%, 30%;
    align-content: center;
    background-color: #864F6F;
    color: rgb(0, 0, 0);
    padding: 20px;
    grid-template-columns: auto auto auto;
    grid-area: footer;
}

/* .footer ul li {
    /* background-color: orange; */
    /* color: black; */
/* } */ 

.footer a {
    color: black;
    text-decoration: none;
}

