

header {
    background-color: blue;
    color: white;
    font-family: 'Fredoka', sans-serif; 
    padding: 20px;
    grid-area: header;
}

body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
     "nav nav nav"
     "main main main"
     "footer footer footer";
    }

    
nav {
    background-color: orange;
    color: rgb(204, 213, 221);
    display: inline-block;
    font-family: 'Fredoka', sans-serif; /* From Google Fonts */
    list-style: none;
    text-align: center;
    grid-area: nav;
}  


.menu ul li {
    background-color: orange;
    color: black;
    display: inline-block;
    width: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    text-align: center;
}

main {
    background-color: darkblue;
    color: white;
    grid-area: main;
}

aside {
    background-color: lightgreen;
    grid-area: aside;
}

footer {
    background-color: lightblue;
    color: white;
    grid-area: footer;
}